@import url('http://fonts.cdnfonts.com/css/minecraft-4');

:root {
    --block-size: 3vw;
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDhZgp2bkMecxEI0GQ9ff5Zo9ahj4ubRRXftQbOIFeZFWc7mt59RQRBVS3qjaEg-ypOnE&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;

}   
*{
    padding:0 ;
    margin: 0;
}
/* intro/open screen */
#intro {
    display: flex ;
    flex-direction: column ;
    width: 100vw;
    height: 100vh;
    color: rgb(209, 209, 209);
    text-align: center;
    align-items: center;
    background-image: url("https://m.media-amazon.com/images/I/512dVKB22QL.png");
    background-size: cover;
    font-size: 5rem;
    font-family: 'Minecraft', sans-serif;

}
#intro button {
    background-color: gray;
    color: rgba(255, 255, 255, 0.847);
    outline: 2px solid black;
    border: 2px solid rgba(255, 255, 255, 0.45);
    width: 50%;
    font-size: 1.3rem;
    margin-top: 5rem;
    cursor: pointer;
}

#intro button:hover {
    background-color: rgb(99, 99, 99);
}
#startGame{
    width: 80px;
    height: 60px;
}
/* game */
#container{
    display: none;
    width:100vw ;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
#gameBoard{
    width: calc(24*var(--block-size));
    height: calc(13*var(--block-size));
    background-color: rgb(151, 224, 255);
    display: grid;
    grid-template-rows: repeat(13, var(--block-size));
    grid-template-columns: repeat(24, var(--block-size));

}

/* Game blocks */

.slot:hover {
    outline: 2px solid rgba(167, 167, 167, 0.491);
    border-radius: 0.2rem;
}

.block-dirt {
    background-image: url("./images/dirt.png");
    background-size: cover;
}
.block-grass {
    background-image: url("./images/grass.png");
    background-size: cover;
}

.block-wood {
    background-image: url("./images/tree.png");
    background-size: cover;
}

.block-leaves {
    background-image: url("./images/leaves.png");
    background-size: cover;
}

.block-cobblestone {
    background-image: url("./images/cobblestone.png");
    background-size: cover;
}


.block-cloud {
    background-image: url("./images/cloud.png");  
    background-size: cover;
}

.item {
    outline: 1px solid rgb(167, 167, 167);
    cursor: pointer;
    
}

.item:hover {
    outline: 3px solid rgba(167, 167, 167, 0.491);
}

.item-selected {
    border: 4px solid rgba(117, 117, 117, 0.648);
}

.item-axe {
    background-image: url("./images/axe.png");  
    background-size: cover;
}

.item-shovel {
    background-image: url("./images/shovel.png");  
    background-size: cover;
}

.item-pickaxe {
    background-image: url("./images/pickaxe.png");  
    background-size: cover;
}

/* inventory */
.inventory {
    display: grid;
    width: calc(2*var(--block-size));
    height: calc(5*var(--block-size));
    background-color: rgb(216, 216, 216);
    grid-template-rows: repeat(5, var(--block-size));
    grid-template-columns: repeat(2, var(--block-size));
}

small {
    color: white;
    font-weight: 500;
    padding: 0.2rem;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#reset-btn {
    width: 100%;
    max-width: 100px;
}